.slick-prev:before,
.slick-next:before {
  color: black;
}

.progress {
  height: 0.5rem !important;
}

nav {
  font-family: "lato", sans-serif;
  font-size: 19px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 900;
  background-color: #197e00;
  box-shadow: 10px 2px 10px rgba(0, 0, 0, 0.5);
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  // color: rgb(112 44 44 / 0%);
  color: rgba(255, 255, 255, 0) !important;
  border-color: rgba(255, 255, 255, 0) !important;
  /* font-size: 1.25rem; */
  line-height: 1;
  /* background-color: transparent; */
  /* border: 1px solid transparent; */

  border-radius: 0 !important;
  border: 0 !important;
  button:focus {
    outline: 0 !important;
  }
}
.navbar-dark .navbar-toggler-icon {
  background-image: none !important;
  width: 1.8em !important;
  height: 4px !important;
  background-color: #fff;
  display: block;
  margin-bottom: 4px;
  border-radius: 10px;
}
