@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+JP&family=Roboto:wght@300&display=swap");
li {
  list-style: none; }

img {
  width: 100%; }

header .container {
  max-width: 100%;
  padding: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

::placeholder {
  color: #808080 !important;
  font-size: 15px; }

.banner {
  margin-bottom: 50px; }

.vegitable_card .container {
  margin-bottom: 80px;
  max-width: 100%;
  width: 86%; }
  .vegitable_card .container h2 {
    font-size: 35px;
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    margin-bottom: 30px;
    line-height: 23px;
    text-align: center; }
  .vegitable_card .container .row {
    margin-bottom: 30px; }
    .vegitable_card .container .row .col-xl-3 {
      margin-bottom: 20px; }
    .vegitable_card .container .row a {
      display: block;
      background-color: #314326;
      color: #fff; }
      .vegitable_card .container .row a:hover {
        background-color: #d1d1d1;
        transition: 0.5s;
        box-shadow: 1px 2px 11px 0px #959595;
        color: #000; }
      .vegitable_card .container .row a figure {
        overflow: hidden; }
      .vegitable_card .container .row a:hover img {
        transform: scale(1.1);
        transition: 0.5s; }
      .vegitable_card .container .row a h6 {
        padding: 10px;
        font-family: "Roboto", sans-serif;
        font-size: 19px;
        text-transform: capitalize;
        letter-spacing: 2px; }
      .vegitable_card .container .row a span {
        padding: 10px;
        padding-bottom: 30px;
        display: block; }
  .vegitable_card .container .viewAll {
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    text-align: center; }
    .vegitable_card .container .viewAll a {
      padding: 6px 4%;
      border: 1px solid #e1e1e1;
      display: block;
      background-color: #314326;
      color: #fff;
      font-family: Lato;
      font-size: 15px;
      box-shadow: 1px 1px 5px -1px #a3a3a3; }
      .vegitable_card .container .viewAll a:hover {
        background-color: #e1e1e1;
        color: #000; }

/* Best Product section start here */
.products .container {
  margin-bottom: 80px;
  max-width: 100%;
  width: 86%; }
  .products .container h2 {
    font-size: 35px;
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    margin-bottom: 30px;
    line-height: 23px; }
  .products .container .col-xl-2 {
    margin-bottom: 20px; }
    .products .container .col-xl-2 h6 {
      font-size: 17px;
      font-family: "Roboto", sans-serif;
      font-weight: bolder;
      margin-bottom: 10px;
      line-height: 23px;
      text-transform: capitalize;
      letter-spacing: 2px;
      color: #000; }
  .products .container .viewAll {
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    text-align: center; }
    .products .container .viewAll a {
      padding: 6px 4%;
      border: 1px solid #e1e1e1;
      display: block;
      background-color: #314326;
      color: #fff;
      font-family: Lato;
      font-size: 15px;
      box-shadow: 1px 1px 5px -1px #a3a3a3; }
      .products .container .viewAll a:hover {
        background-color: #e1e1e1;
        color: red; }

/* Contact us section start here */
.contact_us {
  background-image: url("../../assets/image/Contact_us.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .contact_us .container {
    max-width: 100%;
    width: 86%;
    padding: 50px 12%;
    margin-bottom: 50px; }
    .contact_us .container .row .col-md-7 {
      padding: 30px 5%;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff; }
      .contact_us .container .row .col-md-7 h3 {
        font-size: 35px;
        font-family: "Lato", sans-serif;
        font-weight: bolder;
        margin-bottom: 30px;
        line-height: 23px; }
      .contact_us .container .row .col-md-7 label {
        font-size: 15px;
        font-family: "Lato", sans-serif;
        font-weight: bolder;
        font-weight: 100;
        text-transform: capitalize; }
      .contact_us .container .row .col-md-7 input[type="text"],
      .contact_us .container .row .col-md-7 input[type="email"],
      .contact_us .container .row .col-md-7 textarea {
        color: #000;
        font-size: 15px;
        font-family: "Lato", sans-serif;
        font-weight: bolder;
        font-weight: 100;
        text-transform: capitalize; }
      .contact_us .container .row .col-md-7 button {
        width: 100%;
        border: none;
        background-color: #314326;
        font-size: 15px;
        font-family: "Lato", sans-serif;
        font-weight: bolder;
        font-weight: 100;
        text-transform: capitalize; }
        .contact_us .container .row .col-md-7 button:hover {
          box-shadow: 2px 2px 3px 3px #c1c1c1; }

.slick-prev:before,
.slick-next:before {
  color: black; }

.progress {
  height: 0.5rem !important; }

footer {
  padding: 60px 0;
  color: #f0f9ff;
  background-color: #000; }

footer h3 {
  font-weight: bold;
  font-size: 16px; }

footer h3 + p,
footer ul a {
  color: #f1f1f1; }

footer .item.social {
  text-align: center; }

footer .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.65; }

footer .item.social > a:hover {
  opacity: 1;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.9); }

footer .fa-facebook {
  color: #3b5998; }

footer .fa-twitter {
  color: #00acee; }

footer .fa-snapchat {
  color: #fffc00; }

footer .fa-instagram {
  color: #3f729b; }

footer .copyright {
  text-align: center;
  opacity: 0.6;
  font-size: 13px;
  margin-bottom: 0; }

.stickey-icons {
  position: fixed;
  z-index: 555;
  bottom: 0;
  background-color: #fff;
  font-weight: 400; }

.stickey-icons a {
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  color: #333; }

.stickey-icons a.active,
.stickey-icons a:active,
.stickey-icons a:hover {
  color: #d63031; }

/* Products Page start here*/
.breadcrumb_content .container {
  max-width: 100%;
  width: 100%;
  padding: 0px; }

.all_products .container {
  max-width: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 1.6px;
  color: #000;
  font-weight: 900; }
  .all_products .container .col-xl-2 {
    border-right: 1px solid #dddddd;
    letter-spacing: 0.5px; }
    .all_products .container .col-xl-2 h5 {
      font-weight: 900 !important;
      font-size: 20px;
      font-family: "Lato", sans-serif; }
    .all_products .container .col-xl-2 .search {
      position: relative; }
      .all_products .container .col-xl-2 .search .fa-search {
        position: absolute;
        bottom: 1px;
        right: 1px;
        padding: 9px;
        background-color: #000000;
        padding: 8px 5%;
        color: #ffff;
        border-radius: 0px 4px 4px 0px; }
  .all_products .container h6 {
    font-size: 15px; }
  .all_products .container .checkbox_list {
    display: inline-flex; }
  .all_products .container .list-group {
    border-radius: 0;
    padding: 0; }
    .all_products .container .list-group .list-group:not(:last-of-type) {
      border-bottom: 1px solid #97979736; }
    .all_products .container .list-group .list-group {
      border-bottom: none;
      padding: 0px; }
    .all_products .container .list-group .list-group-item {
      padding: 0;
      margin-bottom: 10px;
      padding-left: 4%; }
      .all_products .container .list-group .list-group-item a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 800;
        color: #007bff; }
      .all_products .container .list-group .list-group-item label {
        font-family: "Lato";
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 13px; }
    .all_products .container .list-group .form-check-input {
      position: static;
      margin-left: 0; }
  .all_products .container .list-group-item {
    border: none; }
.all_products .col-xl-10 .col-xl-3 .card_content {
  padding: 23px 9%;
  margin-bottom: 30px;
  background-color: #f6f6f6;
  box-shadow: 2px 1px 5px 0px #9e9e9e5e; }
  .all_products .col-xl-10 .col-xl-3 .card_content:hover {
    background-color: #e2e2e26b; }
  .all_products .col-xl-10 .col-xl-3 .card_content h6 {
    font-size: 15px;
    color: #000;
    font-weight: bold; }
  .all_products .col-xl-10 .col-xl-3 .card_content p {
    font-size: 14px;
    color: #000;
    letter-spacing: 0px; }
  .all_products .col-xl-10 .col-xl-3 .card_content .col-xl-6 .btn {
    width: 100%;
    border: none;
    padding: 6px 9%;
    background-color: red;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px; }
  .all_products .col-xl-10 .col-xl-3 .card_content .col-xl-6 .view_details {
    background-color: #28a745; }

.products_details .container {
  max-width: 100%;
  width: 100%;
  margin-bottom: 50px; }
  .products_details .container .row .col-xl-7 h5 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Lato", sans-serif; }
  .products_details .container .row .col-xl-7 h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Lato", sans-serif; }
  .products_details .container .row .col-xl-7 .products_price {
    margin-bottom: 11px;
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 900;
    letter-spacing: 1px; }
    .products_details .container .row .col-xl-7 .products_price .original_price {
      text-decoration: line-through; }
  .products_details .container .row .col-xl-7 .form-group {
    width: 10%; }
    .products_details .container .row .col-xl-7 .form-group input {
      background-color: #8080800d !important;
      color: #000;
      border-radius: 0; }
  .products_details .container .row .col-xl-7 .products_details_info {
    font-size: 15px;
    font-weight: 300;
    font-family: sans-serif; }
  .products_details .container .row .btn {
    width: 30%;
    border: none;
    padding: 9px 6%;
    background-color: red;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px; }
    .products_details .container .row .btn i {
      margin-right: 13%; }
  .products_details .container .row .reviews {
    margin-top: 30px; }
    .products_details .container .row .reviews .col-md-3 {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
      font-family: "Lato", sans-serif; }
  .products_details .container .products_images_slider {
    padding-inline-start: 0.8rem; }
  .products_details .container .products_details_button .btn {
    width: 100%;
    border: none;
    padding: 6px 9%;
    background-color: red;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px; }
  .products_details .container .products_details_button .buy_now {
    background-color: #28a745 !important; }

.products_details_accordion .container {
  max-width: 100%;
  width: 86%;
  margin-bottom: 80px; }
  .products_details_accordion .container h2 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
    font-family: "Lato", sans-serif; }
  .products_details_accordion .container .card {
    border-radius: 0px;
    border: none; }
    .products_details_accordion .container .card .card-header {
      padding: 3px 2%;
      background-color: #28a745;
      box-shadow: 1px 0px 9px 0px #2d2d2d; }
      .products_details_accordion .container .card .card-header h6 {
        font-size: 15px;
        letter-spacing: 1px;
        font-family: "Lato";
        color: #fff; }
      .products_details_accordion .container .card .card-header i {
        margin-left: auto;
        text-decoration: none;
        color: #fff; }
    .products_details_accordion .container .card .card-body {
      font-size: 15px;
      font-weight: 300;
      font-family: sans-serif; }

.products_similar_products .container {
  max-width: 100%;
  width: 83%;
  padding: 0px;
  margin-bottom: 50px; }
  .products_similar_products .container .products_slider {
    margin: 0 !important; }
  .products_similar_products .container h2 {
    font-size: 35px;
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    margin-bottom: 30px;
    line-height: 23px; }
  .products_similar_products .container a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300; }
  .products_similar_products .container .card_content {
    padding: 23px 9%;
    margin-bottom: 30px;
    background-color: #f6f6f6;
    box-shadow: 2px 1px 5px 0px #9e9e9e5e; }
    .products_similar_products .container .card_content h6 {
      font-size: 15px;
      color: #000;
      font-weight: bold; }
    .products_similar_products .container .card_content p {
      font-size: 14px;
      color: #000;
      letter-spacing: 0px; }
    .products_similar_products .container .card_content .col-xl-6 .view_details {
      background-color: #28a745 !important;
      border: none; }
    .products_similar_products .container .card_content .col-xl-6 .btn {
      width: 100%;
      border: none;
      padding: 6px 9%;
      background-color: red;
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: 10px; }

.login-clean {
  background: #f1f7fc;
  padding: 80px 0; }

.login-clean form {
  max-width: 380px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }

.login-clean .illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 100px;
  color: #f4476b; }

.login-clean form .form-control {
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 8px;
  height: 42px; }

.login-clean form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important; }

.login-clean form .btn-primary:hover,
.login-clean form .btn-primary:active {
  background: #eb3b60; }

.login-clean form .btn-primary:active {
  transform: translateY(1px); }

.login-clean form .forgot {
  display: block;
  text-align: center;
  font-size: 11px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none; }

.login-clean form .forgot:hover,
.login-clean form .forgot:active {
  opacity: 1;
  text-decoration: none; }

.register-photo {
  background: #f1f7fc;
  padding: 80px 0; }

.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url(../../assets/img/meeting.jpg);
  background-size: cover; }

.register-photo .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }

.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #ffffff;
  padding: 40px 60px;
  color: #505e6c; }

.register-photo form h2 {
  line-height: 1.5;
  margin-bottom: 30px; }

.register-photo form .form-control {
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 40px; }

.register-photo form .form-check {
  font-size: 13px;
  line-height: 20px; }

.register-photo form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: none !important; }

.register-photo form .btn-primary:hover,
.register-photo form .btn-primary:active {
  background: #eb3b60; }

.register-photo form .btn-primary:active {
  transform: translateY(1px); }

.register-photo form .already {
  display: block;
  text-align: left;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none; }

.cart .container {
  padding-top: 30px;
  margin-bottom: 50px; }
  .cart .container h2 {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    margin-bottom: 30px;
    line-height: 23px; }
  .cart .container table th {
    font-size: 14px;
    font-family: "Lato";
    font-weight: bolder;
    margin-bottom: 30px; }
  .cart .container table td {
    font-size: 14px;
    font-family: "poppins";
    font-weight: bolder;
    margin-bottom: 30px; }

.checkout_card .container {
  margin-bottom: 100px; }
  .checkout_card .container .card {
    border-radius: 0px;
    border: none; }
    .checkout_card .container .card .card-header {
      border-radius: 0px;
      box-shadow: 1px 2px 8px -1px #181616b3;
      background-color: #28a745;
      color: #fff; }
      .checkout_card .container .card .card-header h5 {
        font-size: 18px;
        font-family: "Roboto";
        letter-spacing: 1.4px; }
      .checkout_card .container .card .card-header hr {
        color: #fff;
        border-top: 1px solid #ffffff6b;
        margin-bottom: 3px; }
    .checkout_card .container .card .card-body {
      border: 1px solid #80808038;
      border-top: none; }
      .checkout_card .container .card .card-body .row .col-xl-6 .row .col span {
        font-size: 14px;
        font-family: "Lato";
        margin-bottom: 30px;
        letter-spacing: 1px; }
      .checkout_card .container .card .card-body .row .col-xl-6 .row .col h4 {
        font-size: 19px;
        font-weight: 700;
        font-family: "Lato";
        letter-spacing: 1px; }
      .checkout_card .container .card .card-body .row .col-xl-6 .row .col a {
        border-radius: 0px;
        font-size: 15px;
        letter-spacing: 1px;
        font-family: "Lato";
        background-color: #18ff7f;
        color: #fff;
        border: none !important;
        box-sizing: border-box; }
        .checkout_card .container .card .card-body .row .col-xl-6 .row .col a:hover {
          box-shadow: 2px 2px 2px 1px #7d7d7dba; }

.myprofile .container {
  width: 95%;
  max-width: 1360px;
  padding: 0;
  margin: 0 auto; }
  .myprofile .container .myprofile_details .myprofile_details_header .profile_name {
    width: 25%;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08); }
    .myprofile .container .myprofile_details .myprofile_details_header .profile_name .fs-12 {
      font-size: 12px; }
    .myprofile .container .myprofile_details .myprofile_details_header .profile_name .fs-16 {
      font-size: 16px;
      font-weight: 900; }
  .myprofile .container .my_profile_tabs .row {
    margin-left: 0px;
    margin-right: 0px; }
    .myprofile .container .my_profile_tabs .row label {
      font-family: lato;
      font-weight: 600;
      font-size: 15px; }
    .myprofile .container .my_profile_tabs .row h5 {
      font-size: 17px;
      font-weight: 900;
      font-family: "Lato"; }
    .myprofile .container .my_profile_tabs .row p {
      font-size: 15px;
      font-weight: 900;
      font-family: "Lato"; }
    .myprofile .container .my_profile_tabs .row .text-light-gray {
      font-size: 20px;
      font-weight: 900;
      font-family: "Lato";
      color: #999 !important; }

.my-orders .container {
  max-width: 100%;
  width: 95%; }
  .my-orders .container #example_wrapper .row {
    margin-bottom: 50px; }
  .my-orders .container .custom-select {
    width: 20%;
    margin: 0 10px; }
  .my-orders .container [type="search"] {
    margin: 0 2%;
    width: 50%; }
  .my-orders .container label {
    font-size: 17px;
    font-weight: 900;
    font-family: "Lato"; }
  .my-orders .container .page-link {
    margin-left: auto; }

/*# sourceMappingURL=style.css.map */
